<template>
    <aside class="left-sidebar">

        <span class="p-3">Welcome back, <span class="text-bold">{{ $auth.user().name }}</span></span>

        <nav class="sidebar-nav">
            <ul>
                <!--<li class="sidebar-item">-->
                    <!--<span class="sidebar-link">Products</span>-->
                <!--</li>-->

                <li class="sidebar-item">
                    <router-link to="/admin/articles" class="sidebar-link">Articles</router-link>
                </li>

                <li class="sidebar-item">
                    <span class="sidebar-link" @click="logout">Logout</span>
                </li>
            </ul>
        </nav>
    </aside>
</template>

<script>
  export default {
    name: 'AdminNavigation',

    methods: {
      logout() {
        this.$auth.logout({
          makeRequest: false,
          params: {},
          success: function () {
            this.$toastr.success('Logged out successfully!')
          },
          redirect: '/products',
        });
      }
    }
  }
</script>