<template>
    <div class="row">
        <div class="col-md-12">
            <div
                class="col-md-4 d-inline-block article-column"
                v-for="article in articles.data"
            >
                <div
                    class="article-block"
                    @click="$router.push(`/articles/${article.slug}`)"
                >
                    <div class="article-image">
                        <img v-if="article.attachments.length" :src="article.attachments[article.attachments.length-1].previewPath" />

                        <!-- Show default image -->
                        <img v-else/>
                    </div>

                    <div class="article-published-date">
                        Published at: {{ article.createdAt }}
                    </div>

                    <div class="article-title">
                        {{ article.title }}
                    </div>
                </div>
            </div>

            <pagination
                :data="articles"
                @pagination-change-page="changePage"
                :align="'center'"
            ></pagination>

        </div>
    </div>
</template>

<script>
  export default {
    name: 'ArticleList',

    data() {
      return {
        articles: {},
        params: {
          page: this.getPage()
        }
      }
    },

    mounted() {
      this.fetch(this.params)
    },

    methods: {
      fetch (params) {
        this.$api.articles.list(params).then(response => {
          this.articles = response.data
        })
      },

      changePage(page) {
        this.params.page = page

        this.$api.articles.list(this.params).then(response => {
          this.articles = response.data
        })
      },

      getPage(){
        let page = this.$route.query.page

        if (typeof page === 'undefined') {
          return 1
        }

        return page
      }
    }
  }
</script>