<template>
    <div class="article-block">
        <navigationBack :route="`/articles`"></navigationBack>

        <div class="article-show">
            <div class="article-title">
                <h1>{{ article.title }}</h1>
            </div>

            <div class="row article-info">
                <div class="col article-author">Author: {{ article.author.name }}</div>
                <div class="col-6 article-published-date">Published at: {{ article.createdAt }}</div><br>
            </div>

            <div class="article-image">
                <img v-if="article.attachments.length" :src="article.attachments[article.attachments.length-1].previewPath" />

                <!-- Show default image -->
                <img v-else/>
            </div>

            <div class="article-text" v-html="article.text">
                {{ article.text }}
            </div>

            <CommentsBlock
                v-if="article.id"
                :comments="article.commentsPagination"
                :modelId="article.id"
                :modelType="article.modelType"
            ></CommentsBlock>
        </div>
    </div>
</template>

<script>
  import Article from '*/models/Article'
  import CommentsBlock from '@/Partials/CommentsBlock'

  export default {
    name: 'ArticleShow',

    components: {
      CommentsBlock
    },

    data() {
      return {
        article: new Article({}),
      }
    },

    mounted() {
      this.fetch()
    },

    methods: {
      fetch() {
        this.$api.articles.show(this.$route.params.slug).then(response => {
          this.article = new Article(response.data.data)
        })
      },
    }
  }
</script>