.article-column {
  height: 320px;

  .article-block {
    cursor: pointer;
  }
}

.article-block {
  .article-image {
    height: 190px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .article-published-date {
    color: $dark-grey-color;
    margin-top: 10px;
  }

  .article-title {
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
  }


  .article-show {
    .article-title {
      font-weight: 700;
      font-size: 22px;
    }

    .article-image {
      height: auto;
      margin-top: 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .article-info {
      margin-top: 20px;

      .article-author,
      .article-published-date {
        color: $dark-grey-color;
        margin-top: 0;
      }
    }

    .article-text {
      margin-top: 35px;

      p {
        font-size: 18px;
        color: $primary-color;
      }
    }
  }
}