.comments-block {
  margin-top: 50px;

  .comment-post-block {
    margin-top: 25px;

    textarea {
      border: 1px solid #ced4da;
      width: 100%;
      padding: 10px;

      &:focus {
        border: 1px solid #ced4da !important;
      }
    }
  }

  .comment-list-block {
    font-size: 16px;

    .comment-single {
      padding: 25px;

      .comment-username {
        font-weight: 600;
      }

      .comment-date {
        color: $dark-grey-color;
        font-size: 14px;
      }

      .comment-text {
        margin-top: 15px;
      }
    }
  }
}