.exchange-rate-block {
  .currencies-block {
    .currencies-block--title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .currencies-block--list {
      margin: 5px 0;

      .currencies-block--list--item {
        border-radius: 5px;
        border: 2px solid #000000;
        padding: 5px 10px;
        cursor: pointer;

        &.selected {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }

  .exchange-title {
    small {
      color: $dark-grey-color;
    }
  }

  .exchange-table {
    margin-top: 20px;

    table {
      width: 100%;
      margin-bottom: 10px;

      td, th {
        border: 1px solid $dark-grey-color;
        padding: 5px 10px;
      }
    }

    .exchange-table--info-text {
      color: $dark-grey-color;
    }
  }
}