.product-image-block {
  padding: 5%;

  img {
    width: 100%;
  }
}

.product-description-block {
  .product-title {
    h2 {
      padding-bottom: 10px;
      font-weight: 600;
    }

    &:after {
      position: relative;
      display: block;
      content: "";
      bottom: -10px;
      width: 60px;
      height: 2px;
      background: #000;
    }
  }

  .product-categories {
    color: $dark-grey-color;
    margin-top: 35px;
  }

  .product-variations {
    margin-top: 15px;

    .product-variation-title {
      color: $dark-grey-color;
    }

    .product-variation-item {
      display: inline-block;
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid $primary-color;
      cursor: pointer;

      &.selected {
        background-color: $primary-color;
        color: #ffffff;
      }

      &:last-of-type {
        margin-right: 0;
      }

      input.product-variation-radio {
        display: none;
      }
    }
  }

  .product-price {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
  }

  .product-description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
  }

  .product-add-to-cart {
    margin-top: 40px;
  }
}