.product-filter {
  .filter-categories {
    margin-bottom: 10px;

    .wrap-input100 {
      height: 40px;
      margin-left: 20px;
      width: auto;
      margin-top: 20px;
    }

    &:not(:first-of-type) {
      margin-top: 25px;
    }

    .filter-list {
      padding-left: 20px;
      list-style: none;
      margin-top: 20px;
      margin-bottom: 15px;

      li {
        margin-top: 5px;
        border-radius: 5px;
        border: 2px solid $primary-color;

        &.selected {
          background-color: $primary-color;

          a {
            color: #ffffff;

            &:hover {
              color: #ffffff;
            }
          }
        }

        a {
          cursor: pointer;
          display: block;
          color: $primary-color;
          font-size: 16px;
          padding: 2px 10px;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .filter-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
  }

  .filter-subcategory-title {
    margin-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    color: $dark-grey-color;
  }
}