.btn-primary {
  color: $primary-color;
  border: 2px solid $primary-color;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  padding: 0.375rem 1.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  box-shadow: none !important;

  &:focus, &:not(:disabled) {
    color: $primary-color;
    border: 2px solid $primary-color;
    background-color: transparent;
  }

  &:hover, &:active {
    background-color: $primary-color !important;
    border: 2px solid $primary-color !important;
    color: #ffffff;
    padding: 0.375rem 1.3rem;
  }
}

.btn-delete {
  color: #ffffff;
  border: 2px solid $danger-color;
  font-weight: 500;
  text-align: center;
  background-color: $danger-color;
  padding: 0.375rem 1.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  box-shadow: none !important;

  &:focus, &:not(:disabled) {
    color: #ffffff;
    border: 2px solid $danger-color;
    background-color: $danger-color;
  }

  &:hover, &:active {
    background-color: $danger-color !important;
    border: 2px solid $danger-color !important;
    color: #ffffff;
    padding: 0.375rem 1.3rem;
  }
}

.btn-bold {
  border-width: 2px;
  font-weight: 600;
}

.page-item {
  .page-link {
    color: $primary-color;

    &:focus {
      box-shadow: none;
    }
  }

  &.active {
    .page-link {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}

.footer {
  .services-block {
    background: $primary-color;
    color: #ffffff;
    padding: 50px 0;
  }
}