html * {
  font-family: Poppins-Regular !important;
}

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;

  &:focus {
    outline: none !important;
  }

  &:hover {
    text-decoration: none;
    color: #6675df;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0;
}

ul, li {
  margin: 0;
  list-style-type: none;
}

input {
  outline: none;
  border: none;

  &:focus {
    border-color: transparent !important;

    ::-webkit-input-placeholder { color:transparent; }
    :-moz-placeholder { color:transparent; }
    ::-moz-placeholder { color:transparent; }
    :-ms-input-placeholder { color:transparent; }
  }

  &::-webkit-input-placeholder { color: #999999;}
  &:-moz-placeholder { color: #999999;}
  &::-moz-placeholder { color: #999999;}
  &:-ms-input-placeholder { color: #999999;}
}

textarea {
  outline: none;
  border: none;

  &:focus {
    border-color: transparent !important;

    &::-webkit-input-placeholder { color:transparent; }
    &:-moz-placeholder { color:transparent; }
    &::-moz-placeholder { color:transparent; }
    &:-ms-input-placeholder { color:transparent; }
  }

  &::-webkit-input-placeholder { color: #999999;}
  &:-moz-placeholder { color: #999999;}
  &::-moz-placeholder { color: #999999;}
  &:-ms-input-placeholder { color: #999999;}
}

label {
  display: block;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
  background: transparent;

  :hover {
    cursor: pointer;
  }
}

iframe {
  border: none !important;
}

.required {
  &:after {
    content: ' *';
    color: #ff6258;
  }
}

.bg-custom {
  background-color: #f2f2f2;
}

.text-bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.nav-bar-dropdown {
  .nav-link {
    color: $primary-color !important;
  }

  .nav-bar-label {
    color: $dark-grey-color !important;
    font-size: 12px;
    padding: 0 0.5rem;
  }
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}

.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;

  .wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

  }
}

.login100-more {
  background-image: url('/images/bg-01.jpg');;
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
  }
}

.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;

  .login100-form-title {
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }
}

.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;


  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 26px;
  }

  input.input100 {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.has-val {
  height: 48px !important;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;

    font-family: Poppins-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    :hover {
      background: #333333;
    }
  }
}

.navigation-back-block {
  margin-bottom: 15px;

  span {
    cursor: pointer;
  }
}

.product-block {
  margin-bottom: 35px;
  cursor: pointer;

  .product-image {
    background-color: #f2f2f2;
    text-align: center;
    height: 250px;

    img {
      padding: 30px;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .product-categories {
    color: $dark-grey-color;
  }

  .product-title {
    color: #333333;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }

  .product-price {
    color: #6c757d;
  }
}

.navigation-auth-links {
  a, span {
    display: inline-block;
  }
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}