<template>
    <div class="footer">
        <div class="services-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
                        <div class="item d-flex align-items-center">
                            <div class="text">
                                <h6 class="no-margin text-uppercase">Free shipping &amp; return</h6><span>Free Shipping over $300</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="item d-flex align-items-center">
                            <div class="text">
                                <h6 class="no-margin text-uppercase">Money back guarantee</h6><span>30 Days Money Back Guarantee</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="item d-flex align-items-center">
                            <div class="text">
                                <h6 class="no-margin text-uppercase">020-800-456-747</h6><span>24/7 Available Support</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'FooterComponent'
  }
</script>