<template>
    <div class="navigation-back-block">
        <span @click="$router.push(route)">< Back</span>
    </div>
</template>

<script>
  export default {
    name: 'NavigationBack',

    props: {
      route: {
        type: String,
        required: true,
      }
    }
  }
</script>