<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <router-link to="/products" class="nav-link">Products</router-link>
                    </li>
                    <li class="nav-item active">
                        <router-link to="/articles" class="nav-link">Articles</router-link>
                    </li>
                    <li class="nav-item active">
                        <router-link to="/exchange-rate" class="nav-link">Exchange rate</router-link>
                    </li>
                </ul>

                <div class="navigation-auth-links" v-if="! $auth.check()">
                    <router-link to="/login" class="nav-link">Login</router-link>
                    <router-link to="/register" class="nav-link">Register</router-link>
                </div>

                <div class="navigation-auth-links" v-else>
                    <span>Welcome back, <span class="text-bold">{{ $auth.user().name }}</span></span>
                    <span class="nav-link pointer" @click="logout">Logout</span>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
  export default {
    name: 'Navigation',

    methods: {
      logout() {
        this.$auth.logout({
          makeRequest: false,
          params: {},
          success: function () {
            this.$toastr.success('Logged out successfully!')
          },
          redirect: '/products',
        });
      }
    }
  }
</script>