<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
					<span class="login100-form-title pb-4">
						Login to continue
					</span>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="text"
                            name="email"
                            placeholder="Email"
                            v-model="user.email"
                        >
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="password"
                            name="pass"
                            placeholder="Password"
                            v-model="user.password"
                        >
                    </div>

                    <div class="container-login100-form-btn">
                        <button
                            class="login100-form-btn"
                            @click.prevent="login()"
                        >
                            Login
                        </button>
                    </div>
                </form>

                <div class="login100-more"></div>
            </div>
        </div>
    </div>
</template>

<script>
  import User from '*/models/User'

  export default {
    name: 'Login',

    data() {
      return {
        user: new User({}),
      }
    },

    methods: {
      login () {
        this.$auth.login({
          params: this.user,
          redirect: '/admin/articles',
          fetchUser: true,
          success: function () {
            this.$toastr.success('Logged in successfully!')
          },
        }).catch((response) => {})
      }
    }
  }
</script>