<template>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
					<span class="login100-form-title pb-4">
						Register
					</span>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="email"
                            name="email"
                            v-model="user.email"
                            placeholder="Email"
                        >
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="text"
                            name="name"
                            v-model="user.name"
                            placeholder="Name"
                        >
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="password"
                            name="password"
                            v-model="user.password"
                            placeholder="Password"
                        >
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input
                            class="input100"
                            type="password"
                            name="password_confirmation"
                            v-model="user.passwordConfirmation"
                            placeholder="Repeat password"
                        >
                    </div>

                    <div class="container-login100-form-btn">
                        <button
                            class="login100-form-btn"
                            @click.prevent="register()">
                            Register
                        </button>
                    </div>
                </div>

                <div class="login100-more"></div>
            </div>
        </div>
    </div>
</template>

<script>
  import User from '*/models/User'

  export default {
    name: 'Register',

    data() {
      return {
        user: new User({
          password: null,
          passwordConfirmation: null
        })
      }
    },

    methods: {
      register () {
//        this.errors.clear()

        this.$api.auth.register(this.user).then(() => {
          this.$toastr.success('You can now login', 'Registration was successful!')
          this.$router.push('/login')
        }).catch((response) => {
//          this.setErrorsFromResponse(response)
        })
      }
    }
  }
</script>