<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                <productFilter
                    :categories="categories"
                    :variations="variations"
                    @filter="setFilterData"
                ></productFilter>
            </div>

            <div class="col-md-9">
                <div
                    class="col-md-4 d-inline-block"
                    v-for="product in products.data"
                >
                    <div
                        class="product-block"
                        @click="$router.push(`/products/${product.id}`)"
                    >
                        <div class="product-image">
                            <img v-if="product.images.length" :src="`../storage/${product.images[0].path}`" />

                            <!-- Show default image -->
                            <img v-else/>
                        </div>

                        <div class="product-categories">
                            {{ $global.parseJsonToString(product.categories, 'title') }}
                        </div>

                        <div class="product-title">
                            {{ product.title }}
                        </div>

                        <div class="product-price">
                            ${{ product.price }}
                        </div>
                    </div>
                </div>

                <pagination
                    :data="products"
                    :align="'center'"
                    @pagination-change-page="changePaginationPage"
                ></pagination>

            </div>
        </div>
    </div>
</template>

<script>
  import _ from 'lodash'
  import ProductFilter from '@/Products/ProductFilter'

  export default {
    name: 'ProductList',

    components: {
      ProductFilter
    },

    data() {
      return {
        products: {},
        categories: {},
        variations: {},
        params: {
          page: this.getPage()
        }
      }
    },

    mounted() {
      this.fetch(this.params)
    },

    methods: {
      fetch (params) {
        this.$api.products.list(params).then(response => {
          this.products = response.data
        })

        this.$api.categories.list().then(response => {
          this.categories = response.data.data
        })

        this.$api.variations.list().then(response => {
          this.variations = response.data.data
        })
      },

      changePaginationPage(page) {
        this.changePage(page)

        this.filter()
      },

      changePage(page) {
        this.params.page = page
      },

      setFilterData(data) {
        this.params = Object.assign(this.params, data)

        this.filter()
      },

      filter() {
        this.$api.products.list(this.params).then(response => {
          this.products = response.data

          this.changePage(1)
        })
      },

      getPage(){
        let page = this.$route.query.page

        if (typeof page === 'undefined') {
          return 1
        }

        return page
      }
    }
  }
</script>