<template>
    <div class="product-filter">
        <div class="filter-categories">
            <span class="filter-title">Filter by title</span>

            <div class="wrap-input100 validate-input">
                <input
                    class="input100"
                    type="text"
                    v-model="filters.q"
                    @keyup="filter"
                >
            </div>
        </div>

        <div class="filter-categories">
            <span class="filter-title">Filter categories</span>

            <ul class="filter-list">
                <li
                    v-for="category in categories"
                    :class="{ selected:filters.categories.includes(category.title) }"
                >
                    <a @click="buildFilterParams('categories', category.title)">
                        <span>{{ category.title }}</span>
                        <span class="float-right">({{ category.products.length }})</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="filter-categories">
            <span class="filter-title">Filter variations</span>
            <div v-for="(variationType, key) in variations">
                <span class="filter-subcategory-title">{{ key }}</span>

                <ul class="filter-list">
                    <li
                        v-for="variation in variationType"
                        class="subcategory-list"
                        :class="{ selected:filters.variations.includes(variation.value) }"
                    >
                        <a @click="buildFilterParams('variations', variation.value)">
                            <span>{{ variation.value }}</span>
                            <span class="float-right">({{ variation.productsCount }})</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'ProductFilter',

    data() {
      return {
        filters: {
          q: '',
          categories: [],
          variations: []
        }
      }
    },

    props: {
      categories: {
        type: [Object, Array],
      },
      variations: {
        type: [Object, Array],
      }
    },

    methods: {
      buildFilterParams(filterType, itemId) {
        let filterTypeArray = eval('this.filters.' + filterType)

        if (filterTypeArray.includes(itemId)) {
          let index = filterTypeArray.indexOf(itemId)
          if (index !== -1) filterTypeArray.splice(index, 1)

        } else {
          filterTypeArray.push(itemId)
        }

        this.filter()
      },

      filter() {
        this.$emit('filter', this.filters)
      }
    }
  }
</script>