<template>
    <div>
        <navigationBack :route="`/products`"></navigationBack>

        <div class="row">
            <div class="col-7">
                <div class="product-image-block">
                    <img v-if="product.images.length" :src="`../storage/${product.images[0].path}`" />

                    <!-- Show default image -->
                    <img v-else/>
                </div>
            </div>

            <div class="col-5 product-description-block">
                <div class="product-title">
                    <h2>{{ product.title }}</h2>
                </div>
                <div class="clearfix"></div>

                <div class="product-price">${{ product.price }}</div>

                <div class="product-categories">
                    Categories: {{ $global.parseJsonToString(product.categories, 'title') }}
                </div>

                <div class="product-variations" v-for="(variationType, key) in product.variations">
                    <span class="product-variation-title">{{ key }}:</span><br>

                    <label
                        class="product-variation-item"
                        v-for="variation in variationType"
                        :for="variation.id"
                        :class="{ selected:variations[variation.title] == variation.id }"
                    >
                        {{ variation.value }}
                        <input
                            type="radio"
                            class="product-variation-radio"
                            :id="variation.id"
                            :name="variation.title"
                            :value="variation.id"
                            v-model="variations[variation.title]"
                        >
                    </label>
                </div>

                <div class="product-description">{{ product.description }}</div>
                <div class="product-add-to-cart">
                    <button
                        class="btn btn-primary btn-block btn-bold"
                        @click.prevent="addProductToCart"
                    >ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Product from '*/models/Product'

  export default {
    name: 'ProductShow',

    data() {
      return {
        product: new Product({}),
        variations: {}
      }
    },

    mounted() {
      this.fetch()
    },

    methods: {
      fetch() {
        this.$api.products.show(this.$route.params.id).then(response => {
          this.product = new Product(response.data.data)
        })
      },

      addProductToCart() {
        let productVariationsCount = Object.keys(this.product.variations).length
        let selectedVariationsCount = Object.keys(this.variations).length

        if (selectedVariationsCount < productVariationsCount) {
          this.$toastr.error(`Please select all variations before adding ${this.product.title} to cart!`)
        } else {
          this.$toastr.success(`${this.product.title} was successfully added to your cart!`)

          // Add product to cart functionality
        }
      }
    }
  }
</script>