<template>
    <div>
        <div v-if="$auth.check() && $auth.user().isAdmin">
            <AdminNavigation></AdminNavigation>

            <div class="admin-wrapper mt-5 mb-5">
                <router-view></router-view>
            </div>
        </div>

        <div v-else>
            <navigation></navigation>

            <div v-if="fullWidthPath.includes($router.currentRoute.path)">
                <router-view></router-view>
            </div>

            <div class="container mt-5 mb-5" v-else>
                <router-view></router-view>
            </div>

            <!-- Uncomment when screen loader is added -->
            <!--<FooterComponent></FooterComponent>-->
        </div>
    </div>
</template>

<script>
  import Navigation from './Layout/Navigation'
  import AdminNavigation from './Layout/Admin/AdminNavigation'
  import FooterComponent from './Layout/FooterComponent'

  export default {
    name: 'App',

    data() {
      return {
        fullWidthPath: [
          '/register',
          '/login',
        ]
      }
    },

    components: {
      Navigation,
      AdminNavigation,
      FooterComponent,
    }
  }
</script>