@import 'variables';
@import 'sidebar';

body {
  background-color: $admin-wrapper-background-color;
}

.admin-wrapper {
  margin-left: $sidebar-width + 80px;
  margin-right: 80px;

  textarea {
    border: 1px solid #ced4da;
    width: 100%;
    padding: 10px;

    &:focus {
      border: 1px solid #ced4da !important;
    }
  }

  .card {
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #e9ecef;
    border-radius: .25rem;
    box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
    margin-bottom: 30px;
    width: 100%;
    padding: 25px;
  }

  .attachment-display {
    img {
      width: 100%;
    }
  }

  .comments-display {
    font-size: 16px;

    .comment-single {
      padding: 25px;

      .comment-username {
        font-weight: 600;
      }

      .comment-date {
        color: $dark-grey-color;
        font-size: 14px;
      }

      .comment-text {
        margin-top: 15px;
      }
    }
  }
}