.left-sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  top: 0;
  z-index: 10;
  padding-top: 80px;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  background-color: $sidebar-background-color;

  .sidebar-nav {
    padding-top: 30px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        .sidebar-link {
          font-size: 16px;
          padding: 12px 30px;
          display: flex;
          white-space: nowrap;
          align-items: center;
          line-height: 27px;
          opacity: $sidebar-item-opacity;
          margin-right: 17px;
          color: $sidebar-item-color;
          cursor: pointer;

          &:hover {
            opacity: $sidebar-item-opacity + 0.3;
          }
        }
      }
    }
  }
}