<template>
    <div class="row card">
        <div class="col-12">
            <div class="form-group">
                <label for="title">Article title</label>
                <input type="text" id="title" class="form-control" name="title" v-model="article.title">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="title">Article slug</label>
                <input type="text" id="slug" class="form-control" name="slug" v-model="article.slug">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="text">Article text</label>
                <textarea name="text" id="text" v-model="article.text" rows="10"></textarea>
            </div>
        </div>

        <FileUpload @uploaded="setUploadedAttachment"></FileUpload>

        <hr>
        <div
            class="col-4"
            v-if="article.attachments && article.attachments.length"
        >
            <div class="attachment-display">
                <img :src="article.attachments[article.attachments.length-1].previewPath" alt="">
            </div>

            <!-- Todo: Multiple attachments display -->
            <!--<div class="col-4 attachment-display" v-for="(attachment, index) in article.attachments">-->
                <!--<img :src="attachment.previewPath" alt="">-->
            <!--</div>-->
        </div>

        <hr>
        <div
            class="col-12"
            v-if="article.comments && article.comments.length"
        >
            <h2>Comments</h2>

            <div class="comments-display">
                <div v-for="comment in article.comments" class="comment-single">
                    <div class="comment-username">
                        <span class="col-8 p-0">{{ comment.username }}</span>
                        <span class="col-4 p-0 float-right text-right text-danger pointer" @click="deleteComment(comment.id)">Delete</span>
                    </div>

                    <div class="comment-date">
                        {{ comment.createdAt }}
                    </div>

                    <div class="comment-text">
                        {{ comment.text }}
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="col-12 text-right">
            <button class="btn btn-primary" @click.prevent="submit">Update</button>
        </div>
    </div>
</template>

<script>
  import Article from '*/models/Article'

  export default {
    name: 'AdminArticleEdit',

    data() {
      return {
        article: new Article({}),
      }
    },

    mounted() {
      this.article = this.fetch()
    },

    methods: {
      fetch() {
        return this.$api.articles.admin.show(this.$route.params.id).then(response => {
          this.article = new Article(response.data.data)
        })
      },

      submit() {
        this.$api.articles.admin.update(this.article.id, this.article).then(response => {
          this.$toastr.success('Article was updated successfully!')
          this.$router.push('/admin/articles')
        })
      },

      setUploadedAttachment(attachment) {
        this.article.attachments.push(attachment)
      },

      deleteComment(commentId) {
        this.$api.comments.admin.delete(commentId).then(response => {
          this.$toastr.success(response.data.message)

          this.fetch()
        })
      }
    }
  }
</script>