<template>
    <div class="row card">
        <div class="col-12">
            <div class="form-group">
                <label for="title" class="required">Title</label>
                <input type="text" id="title" class="form-control" name="title" v-model="article.title">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="title">Slug</label>
                <input type="text" id="slug" class="form-control" name="slug" v-model="article.slug">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="text" class="required">Text</label>
                <textarea name="text" id="text" v-model="article.text" rows="10"></textarea>
            </div>
        </div>

        <FileUpload @uploaded="setUploadedAttachment"></FileUpload>

        <hr>
        <div
            class="col-4"
            v-if="article.attachments && article.attachments.length"
        >
            <div class="attachment-display">
                <img :src="article.attachments[article.attachments.length-1].previewPath" alt="">
            </div>

            <!-- Todo: Multiple attachments display -->
            <!--<div class="col-4 attachment-display" v-for="(attachment, index) in article.attachments">-->
            <!--<img :src="attachment.previewPath" alt="">-->
            <!--</div>-->
        </div>

        <div class="col-12 text-right">
            <button class="btn btn-primary" @click.prevent="submit">Create</button>
        </div>
    </div>
</template>

<script>
  import Article from '*/models/Article'

  export default {
    name: 'AdminArticleCreate',

    data() {
      return {
        article: new Article({})
      }
    },

    methods: {
      submit() {
        this.$api.articles.admin.create(this.article).then(response => {
          this.$toastr.success('Article was created successfully!')
          this.$router.push('/admin/articles')
        }).catch(() => {
          this.$toastr.error('Please fill in required fields')
        })
      },

      setUploadedAttachment(attachment) {
        this.article.attachments.push(attachment)
      }
    }
  }
</script>