<template>
    <div>
        <div class="card">
            <div>
                <router-link to="/admin/articles/create" class="btn btn-primary">+ New article</router-link>
            </div>

            <div class="mt-4">
                <!-- Todo: Change to datatable -->
                <table class="col">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th class="float-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(article, index) in articles.data">
                            <td>{{ article.title }}</td>
                            <td>{{ article.author.name }}</td>
                            <td>{{ article.comments.length }}</td>
                            <td>{{ article.statusText }}</td>
                            <td class="float-right">
                                <router-link :to="`/admin/articles/edit/${article.id}`" class="btn btn-primary">Edit</router-link>
                                <button class="btn btn-delete" @click.prevent="deleteArticle(article.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="col mt-4">
                    <pagination
                        :data="articles"
                        @pagination-change-page="changePage"
                        :align="'right'"
                    ></pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'AdminArticleList',

    data() {
      return {
        articles: {},
        params: {
          page: this.getPage()
        }
      }
    },

    mounted() {
      this.fetch(this.params)
    },

    methods: {
      fetch (params) {
        this.$api.articles.admin.list(params).then(response => {
          this.articles = response.data
        })
      },

      changePage(page) {
        this.params.page = page

        this.$api.articles.admin.list(this.params).then(response => {
          this.articles = response.data
        })
      },

      getPage(){
        let page = this.$route.query.page

        if (typeof page === 'undefined') {
          return 1
        }

        return page
      },

      deleteArticle(id) {
        return this.$api.articles.admin.delete(id).then(response => {
          this.$toastr.success(`Article was successfully deleted!`)
          this.fetch()
        })
      }
    }
  }
</script>