<template>
    <div class="exchange-rate-block row">
        <div class="col-3 currencies-block">
            <div class="currencies-block--title">
                Available currencies:
            </div>

            <div
                class="currencies-block--list"
                v-for="currency in availableCurrencies"
            >
                <div
                    class="currencies-block--list--item"
                    @click="selectCurrency(currency)"
                    :class="{ selected:currencies.includes(currency) }"
                >{{ currency }}</div>
            </div>
        </div>

        <div class="col-9">
            <div class="exchange-title">
                <h3>Exchange Rates:</h3>
                <small>Base: (EUR)</small>
            </div>

            <div class="exchange-table">
                <table>
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Exchange rate</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(exchangeRate, index) in exchangeRates">
                            <td>{{ index }}</td>
                            <td>{{ exchangeRate }}</td>
                        </tr>
                    </tbody>
                </table>

                <span class="exchange-table--info-text">
                    Current currency exchange rate from <a href="https://exchangeratesapi.io/" target="_blank">https://exchangeratesapi.io/</a>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'ExchangeRateList',

    data() {
      return {
        currencies: ['USD', 'RUB', 'GBP'],
        exchangeRates: {},
        availableCurrencies: []
      }
    },

    mounted() {
      this.fetchAvailableCurrencies()
      this.fetch()
    },

    methods: {
      fetchAvailableCurrencies() {
        this.$api.exchangeRate.getAvailableCurrencies().then(response => {
          this.availableCurrencies = response.data
        })
      },

      fetch() {
        this.$api.exchangeRate.getMultipleRates(this.currencies.toString()).then(response => {
          this.exchangeRates = response.data
        })
      },

      selectCurrency(currency) {
        if (this.currencies.indexOf(currency) === -1) {
          this.currencies.push(currency)
        } else {
          let index = this.currencies.indexOf(currency);
          if (index !== -1) this.currencies.splice(index, 1);
        }

        this.fetch()
      }
    }
  }
</script>