<template>
    <div class="comment-post-block">
        <div class="col-6 p-0">
            <div class="form-group">
                <label for="username" class="required">Username</label>
                <input type="text" id="username" class="form-control" name="username" v-model="comment.username">
            </div>
        </div>

        <div class="col-12 p-0">
            <div class="form-group">
                <label for="text" class="required">Text</label>
                <textarea name="text" id="text" v-model="comment.text" rows="5" placeholder="Add a comment..."></textarea>
            </div>
        </div>

        <div class="col-12 text-right p-0">
            <button class="btn btn-primary" @click.prevent="submit">Post</button>
        </div>
    </div>
</template>

<script>
  import Comment from '*/models/Comment'

  export default {
    name: 'CommentPostBlock',

    data() {
      return {
        comment: new Comment({}),
      }
    },

    props: {
      modelId: {
        type: [Number],
      },
      modelType: {
        type: [String],
      },
    },

    methods: {
      submit() {
        this.comment.model_id = this.modelId
        this.comment.model_type = this.modelType

        this.$api.comments.store(this.comment).then(response => {
          this.$toastr.success(response.data.message)

          this.comment.text = ''
          this.comment.username = ''
          this.$emit('post-comment')
        }).catch(() => {
          this.$toastr.error('Please fill in required fields')
        })
      },
    },
  }
</script>