<template>
    <div class="comments-block">
        <hr>
        <h2>Comments</h2>

        <CommentPostBlock
            :modelId="modelId"
            :modelType="modelType"
            @post-comment="fetch()"
        ></CommentPostBlock>
        <hr>

        <div class="comment-list-block">
            <div v-for="(comment, index) in comments.data" class="comment-single">
                <div class="comment-username">
                    {{ comment.username}}
                </div>

                <div class="comment-date">
                    {{ comment.createdAt }}
                </div>

                <div class="comment-text">
                    {{ comment.text }}
                </div>
                <hr>
            </div>

            <pagination
                :data="comments"
                @pagination-change-page="changePage"
                :align="'center'"
            ></pagination>
        </div>
    </div>
</template>

<script>
  import CommentPostBlock from '@/Partials/CommentPostBlock'

  export default {
    name: 'CommentsBlock',

    components: {
      CommentPostBlock,
    },

    data() {
      return {
        comments: {},
        params: {
          page: 1,
        },
      }
    },

    props: {
      modelId: {
        type: [Number],
      },
      modelType: {
        type: [String],
      },
    },

    mounted() {
      this.fetch(this.params)
    },

    methods: {
      fetch () {
        this.$api.comments.list(this.modelId, this.modelType, this.params).then(response => {
          this.comments = response.data
        })
      },

      changePage(page) {
        this.params.page = page

        this.fetch()
      },
    },
  }
</script>